@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="text-align:center; margin-top:10px;" class="display-4"><b>Bienvenidos al convertidor MAXXIP!</b></h1>
    <p>Convertidor MAXXIP te permitira convertir videos a distintos formatos.<br />
        Entre estos se encuentran las opciones de: <br />
        -cambiar un video a formato MP4,WMV, AVI, MOV,WAV, MP3<br />
        -cambiar la resolucion del video <br />
        -extraer audio mp3 <br />
        -obtener frames por minuto ó segundos <br/>
    </p>
    <img src="../imagenes/LOGOm.jpg" class="rounded mx-auto d-block" alt="LOGO">
</div>
